<div class = "col-md-1"></div>
<div class="col-md-9">
	<h3><%= @users.find(@gist.user_id).name%> </h3>
	<strong><%=@gist.description%></strong>
	<div class="panel panel-default">
		<div class="panel-heading"><%=@gist.file%></div>
		
		<div class="panel-body">
			<%=@gist.content%>
		</div>
	</div>
	
</div>